rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /appConfig/{document} {
      allow read, write: if true;
    }
    match /memories/{memoryId} {
      allow read, write: if true;
    }
    match /loveSpells/{spellId} {
      allow read, write: if true;
    }
    match /specialPlaces/{placeId} {
      allow read, write: if true;
    }
    match /test/{docId} {
      allow read, write: if true;
    }
  }
}
